<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CBPullToRefleshDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CCAB3491D577EE4004E80B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CCAB35D1D577EE4004E80B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CCAB3681D577EE4004E80B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
